<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Check</title>
    <link rel="stylesheet" href="/public/foundation.min.css" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1>Health Check</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          {{#each this}}
          <h3><div class="circle {{#if isHealthy}}good{{else}}bad{{/if}}"></div>{{recipe}}</h3>
          <ul class="failures">
            {{#each productChecks.failures}}
            <li>{{json this}}</li>
            {{/each}}
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
